<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/roomStatus.css" />
</head>

<body>
    <div id="box">
        <p>실 사용 현황</p>
        <% for var i = 0; i < 사용중인 실.length; i++){ %>
        <div id="box_out">
            <div id="box_in">
                <img src="">
            </div>
            <p><%= 사용중인 실[i].usingRoom</p>
            <p><%= 사용중인 실[i].usingUsers</p>
        </div>
        <% } %>
    </div>
    <div id="nav_menu">
        <ul>
            <li>LOGO</li>
            <li id="studentManage">학생 관리</li>
            <li id="applyManage">신청 관리</li>
            <li id="roomNow">실 사용 현황</li>
            <li id="name"><%= userName %> 선생님</li>
        </ul>
        <button id="logout">LOGOUT</button>
    </div>
</body>

</html>