#nav_menu{
    position: fixed; left: 0; right: 0; top: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(45, 33, 223, 0.4);
}
#nav_menu ul{
    list-style-type: none;
}
#nav_menu ul li{
    display: inline;
}
#apply{
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
    color: #5250B1;
}
#main{
    font-weight: bold;
    font-size: 20px;
}
#name{
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 200px;
}
#logout{
    margin-right: 25px; height: 40px;
    width: 140px;
    color: #5250B1;
    font-weight: bold;
    font-size: 20px;
    position: absolute; top: 15%; right: 0;
    background-color: #ffffff;
    border: solid; border-color: #5250B1;
    outline: 0;
    border-radius: 25px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
a{
    text-decoration: none;
    color: #000;
}
#btn{
    position: absolute; top: 10%; left: 3%;
}
button{
    width: 120px;
    background-color: transparent;
    outline: 0;
    border: none; border-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}
#usable{
    border-bottom: 6px solid #5250B1;
    color: #5250B1;
}
hr{
    position: absolute; top: 13.5%; left: 3%;
    margin: 0;
}
#showRoom{
    width: 1425px; height: 100%;
    position: absolute; top: 18%; left: 3%;
    float: left;
}
#doneRoom{
    width: 1425px; height: 100%;
    position: absolute; top: 18%; left: 3%;
    display: none;
}
#doRoom{
    width: 240px; height: 320px;
    background-color: #F9F9F9;
    position: absolute;
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}
#Room{
    width: 240px; height: 370px;
    background-color: #F9F9F9;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}
#inner{
    width: 240px; height: 200px;
    background-color: #BFE1FF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#applyBtn{
    width: 120px; height: 35px;
    color: #ffffff;
    background-color: #5250B1;
    font-size: 20px;
    border: 0;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 60px;
}
p{
    width: 240px;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.center{
    margin-top: 10px;
    font-weight: bold;
    font-size: 23px;
}
#my_modal {
    display: none;
    width: 400px;
    background-color: #fefefe;
    
    border-radius: 10px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-weight: bold;
    color: #ffffff;
}

#topBox{
    width: 400px; height: 50px;
    background-color: #5250B1;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
}

#topText{
    width: 400px;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

#control{
    padding: 20px 20px;
}

#control img{
    width: 135px; height: 135px;
}

#roomName{
    width: 135px;
    margin-top: 7px;
}

#selectBox{
    position: absolute; right: 5%; top: 37%;
    width: 212px;
}

#etcTxt{
    width: 60px;
    border: none; border-bottom: 1px solid #000;
    outline: none;
}

#script{
    position: absolute; right: 5%; top: 28%;
    font-size: 17px;
    width: 212px;
    text-align: left;
    color: #5250B1;
    font-weight: bold;
}

#script2{
    position: absolute; right: 5%; top: 58%;
    font-size: 17px;
    width: 212px;
    text-align: left;
    color: #5250B1;
    font-weight: bold;
}

#okBtn{
    width: 80px; height: 35px;
    color: #ffffff;
    background-color: #5250B1;
    font-size: 18px;
    font-weight: normal;
    border: 0;
    border-radius: 25px;
    position: absolute; right: 5%; bottom: 5%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#team{
    position: absolute; bottom: 25%; right: 12%;
    width: 180px;
}